<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Beaver Games : Hanoi</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/hanoi/common/style.css">
    <script src="http://127.0.0.1:5000/static/hanoi/common/utils.js"></script>
    <script src="http://127.0.0.1:5000/static/hanoi/hanoi.js"></script>
    <style>
      #disks {
        float: right;
      }
      #canvasDiv {
        text-align: center;
      }
      #canvas {
        border: 1px solid #888;
      }
      #instructions {
        font-size: small;
        font-style: italic;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1>Tower Of Hanoi</h1>

    <div id="canvasDiv">
      <canvas id="canvas"></canvas>
    </div>

    <div id="instructions">
      Move the stack of disks to another pile.  Large disks can't be placed on small
      disks.  Use the mouse or the keys 1,2,3 to pick up a disk and place it.
    </div>
    <br>
    <div id="moves">
      Moves: 0
    </div>
    <br>
    <div id="timer">
      Time: 0:00
    </div>
    <br>
    <br>
  
    <audio id="win" src="http://127.0.0.1:5000/static/hanoi/common/win.mp3"></audio>
  </body>
</html>
