<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sudoku</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/sudoku/main.css">
</head>
<body>
    <div id="main-container">
        <div id="game-container">
            <table>
                <tbody>
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr>
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr> 
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr>
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr>
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr> 
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr>
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr>
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr>
                    <tr>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                        <td><input type="text" maxlength="1" min=1 class="content"></td>
                    </tr> 
                </tbody>
            </table>
        </div>
        <div id="controls-container">
            <div id="timer-container">
                <span id="timer">00:00:00</span>
                <div class="button-container">
                    <br>
                    <button id="start">Start</button>
                </div>
                <br>
                <div class="button-container">
                    <button id="stop">Stop</button>
                </div>
                <br>
                <div class="button-container">
                    <button id="check">Check</button>
                </div>
                <br>
                <div>
                    <span id="incorrect-entries">Mistakes: 0</span>
                </div>
                <br>
                <div>
                    <span id="progress">Progress: 0%</span>
                </div>
                <br>
                <div>
                    <span id="message"></span>
                </div>
            </div>
            <div id="board">
            </div>
        </div>
    </div>
    <script src="http://127.0.0.1:5000/static/sudoku/main.js"></script>
</body>
</html>
