<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/whackmole/style.css">
    <title>Whack-a-Mole Game</title>
</head>
<body>
    <h1 class="score">SCORE: <span id="score">00</span></h1>
    <h1 class="accuracy">ACCURACY: <span id="accuracy">0%</span></h1>
    <h1 class="reaction-time">AVG REACTION TIME: <span id="reactionTime">0s</span></h1>
    <h1 class="duration">DURATION: <span id="duration">00:01</span></h1>
    <button id="startBtn" class="game-btn">START</button>
    <button id="stopBtn" class="game-btn" disabled>STOP</button>    
    <div class="board">
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
    </div>
    <div class="cursor"></div>

    <script src="http://127.0.0.1:5000/static/whackmole/main.js"></script>
</body>
</html>
